.player {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: auto;
    cursor: pointer;
}
.player iframe {
    border-radius: 10px;
}
.player-info { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

@media (max-width: 500px) {
    .player-info {
        font-size: 12px;
    }
}